@model IEnumerable<CompanyApp.Models.Employee>


<div class="wrapper">
   

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="createDep mb-5">
                    <a asp-controller="Employee" asp-action="Create" class="btn btn-outline-primary">Create employee</a>
                </div>
            </div>

        </div>
        @if (TempData["Success"] != null)
        {

            <div class="alert alert-success">
                <strong>Success !</strong> @TempData["Success"]
                <button type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
            </div>
        }
        <div class="row">

            @foreach (Employee employee in Model)
            {

                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="card" style="margin: 0 auto;  ">
                        <div class="card-header text-center">

                            <h4>@employee.FirstName @employee.Surname</h4>
                        </div>

                        <div class="card-body">

                            <h5 class="card-title" style="font-size:16px;">
                                Salary : @employee.Salary ₼
                            </h5>
                            <hr />

                            <h5 class="card-title" style="font-size:16px;">
                                Position : @employee.Position
                            </h5>
                            <hr />
                            <h5 class="card-text" style="font-size:16px;">
                                Department : @employee.Department.DepName
                            </h5>


                        </div>

                        <div class="card-footer text-center">

                            <p>Employee actions</p>

                            <div class="btn-group d-flex">
                                <a asp-controller="Employee" asp-action="Details" asp-route-id="@employee.ID" class="btn btn-primary btn-sm"
                                   style="color:white">
                                    Details
                                </a>

                                <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.ID" class="btn btn-warning btn-sm"
                                   style="color:white">
                                    Edit
                                </a>

                                <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.ID" class="btn btn-danger btn-sm"
                                   style="color:white">
                                    Delete
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            }

        </div>
    </div>


</div>




