@model IEnumerable<CompanyApp.Models.Employee>

<div class="text-center" style="margin-bottom:70px;">
    <h1 class="display-4">Employee list</h1>
</div>

<div class="container">
    <div class="row">
        <div class="createDep mb-5">
            <a asp-controller="Employee" asp-action="Create" class="btn btn-outline-primary">Create employee</a>
        </div>
    </div>


    <div class="row">
        <table class="table table-bordered shadow-lg p-3 mb-5 bg-white rounded">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.ID)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.FirstName)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Surname)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Age)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Country)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.City)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.BirthDate)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Salary)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Phone)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Position)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Department.DepName)</th>

                    <th scope="col">Edit / Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Employee employee in Model)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(emp => employee.ID)</th>
                        <td>@Html.DisplayFor(emp => employee.FirstName)</td>
                        <td>@Html.DisplayFor(emp => employee.Surname)</td>
                        <td>@Html.DisplayFor(emp => employee.Age)</td>
                        <td>@Html.DisplayFor(emp => employee.Country)</td>
                        <td>@Html.DisplayFor(emp => employee.City)</td>
                        <td>@Html.DisplayFor(emp => employee.BirthDate)</td>
                        <td>@Html.DisplayFor(emp => employee.Salary)</td>
                        <td>@Html.DisplayFor(emp => employee.Phone)</td>
                        <td>@Html.DisplayFor(emp => employee.Email)</td>
                        <td>@Html.DisplayFor(emp => employee.Position)</td>
                        <td>@Html.DisplayFor(emp => employee.Department.DepName)</td>

                        <td>
                            <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.ID" class="editEmployee text-success">
                                <i class="fas fa-pen"></i>
                            </a>

                            <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.ID" class="deleteEmployee text-danger">
                                <i class="fas fa-trash"></i>
                            </a>

                            <a asp-controller="Employee" asp-action="Details" asp-route-id="@employee.ID" class="detailEmployee text-info">
                                <i class="fas fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function showModal(message) {
            var alertBody = document.getElementById('successAlert');
            alertBody.innerHTML = message;
            $('#modalSuccess').modal('show');
        }
        $(document).ready(function () {
            var msg = "@TempData["Success"]";
            if (msg) {
                showModal(msg);
            }
        })
    </script>
}
